<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>New Folder</string>
		<string>Accounting</string>
		<string>Financial Cost Management</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>Accounting</key>
			<dict>
				<key>lastModification</key>
				<real>544883001.10086095</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Financial Cost Management</key>
			<dict>
				<key>lastModification</key>
				<real>544883001.10086298</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>New Folder</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>548179103.80902004</real>
				<key>lastModification</key>
				<real>548179103.80902004</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>6</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>545473396.02907395</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>会计.md</key>
			<dict>
				<key>lastModification</key>
				<real>545473411.330531</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>战略顺口溜.md</key>
			<dict>
				<key>lastModification</key>
				<real>545473396.02906704</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>财务成本管理.md</key>
			<dict>
				<key>lastModification</key>
				<real>545473396.02906299</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>财务成本管理.md</string>
		</array>
		<array>
			<string>会计.md</string>
		</array>
		<array>
			<string>战略顺口溜.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>6</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>9</integer>
		</dict>
	</dict>
</dict>
</plist>
