<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order</key>
	<array>
		<string>Accounting/§03 存货.md</string>
		<string>Accounting/§04 固定资产.md</string>
		<string>Financial Cost Management/财管公式簿 (文字版).md</string>
		<string>Financial Cost Management/财管公式簿.md</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>order</key>
		<dict>
			<key>Accounting/§03 存货.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>545281899.53227496</real>
				<key>lastModification</key>
				<real>545281899.53227496</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>222</integer>
				</dict>
			</dict>
			<key>Accounting/§04 固定资产.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>545402711.776178</real>
				<key>lastModification</key>
				<real>545402711.776178</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>238</integer>
				</dict>
			</dict>
			<key>Financial Cost Management/财管公式簿 (文字版).md</key>
			<dict>
				<key>lastModification</key>
				<real>544973917.77605295</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>Financial Cost Management/财管公式簿.md</key>
			<dict>
				<key>lastModification</key>
				<real>544956498.69119406</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>73</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>order</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>245</integer>
		</dict>
	</dict>
</dict>
</plist>
