<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>2018 年教材变化.md</key>
			<dict>
				<key>lastModification</key>
				<real>544254191.87307799</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>548179121.46157897</real>
				<key>lastModification</key>
				<real>548179121.46157897</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>224</integer>
				</dict>
			</dict>
			<key>readme.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079523.310992</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>§01 财务管理基本原理.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277569.06209099</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>198</integer>
				</dict>
			</dict>
			<key>§02 财务报表分析和财务预测.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277585.68530703</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>204</integer>
				</dict>
			</dict>
			<key>§03 价值评估.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277581.27608097</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>202</integer>
				</dict>
			</dict>
			<key>§04 资本成本.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277627.07029605</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>214</integer>
				</dict>
			</dict>
			<key>§05 投资项目资本预算.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277573.56391096</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>§06 债券、股票价值评估.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277641.09575105</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>218</integer>
				</dict>
			</dict>
			<key>§07 期权价值评估.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277548.39292395</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>188</integer>
				</dict>
			</dict>
			<key>§08 企业价值评估.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277632.11774695</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>216</integer>
				</dict>
			</dict>
			<key>§09 资本结构.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277645.86594105</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>220</integer>
				</dict>
			</dict>
			<key>§10 股利分配、股票分割与股票回购.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277558.04152596</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>192</integer>
				</dict>
			</dict>
			<key>§11 长期筹资.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277561.82320702</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>194</integer>
				</dict>
			</dict>
			<key>§12 营运资本管理.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277623.17664397</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>212</integer>
				</dict>
			</dict>
			<key>§13 产品成本计算.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277619.34957004</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>210</integer>
				</dict>
			</dict>
			<key>§14 标准成本法.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277536.98596501</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>186</integer>
				</dict>
			</dict>
			<key>§15 作业成本法.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277532.65290797</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>184</integer>
				</dict>
			</dict>
			<key>§16 本量利分析.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277554.33023</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>190</integer>
				</dict>
			</dict>
			<key>§18 全面预算.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277564.89532399</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>196</integer>
				</dict>
			</dict>
			<key>§19 责任会计.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277615.45836604</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>208</integer>
				</dict>
			</dict>
			<key>§20 业绩评价.md</key>
			<dict>
				<key>lastModification</key>
				<real>545277610.86108994</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>206</integer>
				</dict>
			</dict>
			<key>⚠️ 财管做题注意事项.md</key>
			<dict>
				<key>lastModification</key>
				<real>544117696.66951299</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>微笑 3 秒钟.md</key>
			<dict>
				<key>lastModification</key>
				<real>545130248.34555995</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>104</integer>
				</dict>
			</dict>
			<key>财管公式簿 (文字版).md</key>
			<dict>
				<key>lastModification</key>
				<real>544973912.84191406</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>财管公式簿.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079523.31099498</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>545277660.55901694</real>
		<key>userIconName</key>
		<real>544032765.37251198</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>微笑 3 秒钟.md</string>
		</array>
		<array>
			<string>财管公式簿 (文字版).md</string>
		</array>
		<array>
			<string>§19 责任会计.md</string>
		</array>
		<array>
			<string>§20 业绩评价.md</string>
		</array>
		<array>
			<string>§18 全面预算.md</string>
		</array>
		<array>
			<string>§14 标准成本法.md</string>
		</array>
		<array>
			<string>2018 年教材变化.md</string>
		</array>
		<array>
			<string>§11 长期筹资.md</string>
		</array>
		<array>
			<string>§01 财务管理基本原理.md</string>
		</array>
		<array>
			<string>§10 股利分配、股票分割与股票回购.md</string>
		</array>
		<array>
			<string>§09 资本结构.md</string>
		</array>
		<array>
			<string>⚠️ 财管做题注意事项.md</string>
		</array>
		<array>
			<string>readme.md</string>
		</array>
		<array>
			<string>§13 产品成本计算.md</string>
		</array>
		<array>
			<string>§03 价值评估.md</string>
		</array>
		<array>
			<string>§05 投资项目资本预算.md</string>
		</array>
		<array>
			<string>§07 期权价值评估.md</string>
		</array>
		<array>
			<string>§08 企业价值评估.md</string>
		</array>
		<array>
			<string>§16 本量利分析.md</string>
		</array>
		<array>
			<string>§04 资本成本.md</string>
		</array>
		<array>
			<string>§02 财务报表分析和财务预测.md</string>
		</array>
		<array>
			<string>财管公式簿.md</string>
		</array>
		<array>
			<string>§15 作业成本法.md</string>
		</array>
		<array>
			<string>§12 营运资本管理.md</string>
		</array>
		<array>
			<string>§06 债券、股票价值评估.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Chart</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>5</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>224</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>4</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
