<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>2018 年教材变化.md</key>
			<dict>
				<key>lastModification</key>
				<real>544254191.87307799</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>readme.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079523.310992</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>⚠️ 财管做题注意事项.md</key>
			<dict>
				<key>lastModification</key>
				<real>544117696.66951299</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>产品成本计算.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079523.310992</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>价值评估.md</key>
			<dict>
				<key>lastModification</key>
				<real>544184603.45464301</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>企业价值评估.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079575.95700097</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>作业成本计算.md</key>
			<dict>
				<key>lastModification</key>
				<real>544294195.16878998</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>债券股票价值评估.md</key>
			<dict>
				<key>lastModification</key>
				<real>544082106.63831198</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>投资项目资本预算.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079523.31099296</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>期权价值评估.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079523.31099296</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>本量利分析.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079523.31099403</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>股利分配、股票分割与股票回购.md</key>
			<dict>
				<key>lastModification</key>
				<real>544176099.52703404</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>营运资本的投资和筹资管理.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079523.31099403</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>财务报表分析和财务预测.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079523.31099498</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>财务管理基本原理.md</key>
			<dict>
				<key>lastModification</key>
				<real>544184490.59050798</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>财管公式簿.md</key>
			<dict>
				<key>lastModification</key>
				<real>544079523.31099498</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>资本成本.md</key>
			<dict>
				<key>lastModification</key>
				<real>544082179.92998302</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>资本结构.md</key>
			<dict>
				<key>lastModification</key>
				<real>544152707.54615796</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>长期筹资.md</key>
			<dict>
				<key>lastModification</key>
				<real>544201582.72078204</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>37</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>544082770.511657</real>
		<key>userIconName</key>
		<real>544032765.37251198</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>作业成本计算.md</string>
		</array>
		<array>
			<string>2018 年教材变化.md</string>
		</array>
		<array>
			<string>长期筹资.md</string>
		</array>
		<array>
			<string>财务管理基本原理.md</string>
		</array>
		<array>
			<string>股利分配、股票分割与股票回购.md</string>
		</array>
		<array>
			<string>资本结构.md</string>
		</array>
		<array>
			<string>⚠️ 财管做题注意事项.md</string>
		</array>
		<array>
			<string>readme.md</string>
		</array>
		<array>
			<string>产品成本计算.md</string>
		</array>
		<array>
			<string>价值评估.md</string>
		</array>
		<array>
			<string>债券股票价值评估.md</string>
		</array>
		<array>
			<string>投资项目资本预算.md</string>
		</array>
		<array>
			<string>期权价值评估.md</string>
		</array>
		<array>
			<string>企业价值评估.md</string>
		</array>
		<array>
			<string>本量利分析.md</string>
		</array>
		<array>
			<string>营运资本的投资和筹资管理.md</string>
		</array>
		<array>
			<string>资本成本.md</string>
		</array>
		<array>
			<string>财务报表分析和财务预测.md</string>
		</array>
		<array>
			<string>财管公式簿.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Chart</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>48</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>1</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
