<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>readme.md</key>
			<dict>
				<key>lastModification</key>
				<real>544883031.29630804</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>§01 总论.md</key>
			<dict>
				<key>lastModification</key>
				<real>545243247.34521997</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>§02 会计政策、会计估计及其变更和差错更正.md</key>
			<dict>
				<key>lastModification</key>
				<real>545243251.37978804</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>§03 存货.md</key>
			<dict>
				<key>lastModification</key>
				<real>545243255.97253597</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>§04 固定资产.md</key>
			<dict>
				<key>lastModification</key>
				<real>545386186.67401505</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>§05 无形资产.md</key>
			<dict>
				<key>lastModification</key>
				<real>545402730.72942495</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>§06 投资性房地产.md</key>
			<dict>
				<key>lastModification</key>
				<real>545469575.83148205</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>§07 长期股权投资.md</key>
			<dict>
				<key>lastModification</key>
				<real>546272818.543118</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>88</integer>
				</dict>
			</dict>
			<key>§08 资产减值.md</key>
			<dict>
				<key>lastModification</key>
				<real>546272843.811517</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>§09 负债.md</key>
			<dict>
				<key>lastModification</key>
				<real>546590097.48886299</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>§10 职工薪酬.md</key>
			<dict>
				<key>lastModification</key>
				<real>546589795.75936198</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>97</integer>
				</dict>
			</dict>
			<key>§11 借款费用.md</key>
			<dict>
				<key>lastModification</key>
				<real>546570001.27346802</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>§12 股份支付.md</key>
			<dict>
				<key>lastModification</key>
				<real>547179265.04077005</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>105</integer>
				</dict>
			</dict>
			<key>§13 或有事项.md</key>
			<dict>
				<key>lastModification</key>
				<real>547271803.75916004</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>109</integer>
				</dict>
			</dict>
			<key>§14 金融工具.md</key>
			<dict>
				<key>lastModification</key>
				<real>547308839.39690995</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>120</integer>
				</dict>
			</dict>
			<key>§20 所得税.md</key>
			<dict>
				<key>lastModification</key>
				<real>548138252.50555897</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>126</integer>
				</dict>
			</dict>
			<key>§28 每股收益.md</key>
			<dict>
				<key>lastModification</key>
				<real>545568705.49114096</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>§29 公允价值计量.md</key>
			<dict>
				<key>lastModification</key>
				<real>545668495.85831499</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>⚠️ 会计做题注意事项.md</key>
			<dict>
				<key>lastModification</key>
				<real>544883096.62744606</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>跨章节知识点整理.md</key>
			<dict>
				<key>lastModification</key>
				<real>545466026.72654295</real>
				<key>version</key>
				<dict>
					<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
					<integer>67</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>548138181.83598804</real>
		<key>userIconName</key>
		<real>544882996.94772005</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>跨章节知识点整理.md</string>
		</array>
		<array>
			<string>readme.md</string>
		</array>
		<array>
			<string>⚠️ 会计做题注意事项.md</string>
		</array>
		<array>
			<string>§03 存货.md</string>
		</array>
		<array>
			<string>§04 固定资产.md</string>
		</array>
		<array>
			<string>§05 无形资产.md</string>
		</array>
		<array>
			<string>§06 投资性房地产.md</string>
		</array>
		<array>
			<string>§28 每股收益.md</string>
		</array>
		<array>
			<string>§29 公允价值计量.md</string>
		</array>
		<array>
			<string>§20 所得税.md</string>
		</array>
		<array>
			<string>§11 借款费用.md</string>
		</array>
		<array>
			<string>§14 金融工具.md</string>
		</array>
		<array>
			<string>§13 或有事项.md</string>
		</array>
		<array>
			<string>§12 股份支付.md</string>
		</array>
		<array>
			<string>§09 负债.md</string>
		</array>
		<array>
			<string>§10 职工薪酬.md</string>
		</array>
		<array>
			<string>§01 总论.md</string>
		</array>
		<array>
			<string>§02 会计政策、会计估计及其变更和差错更正.md</string>
		</array>
		<array>
			<string>§07 长期股权投资.md</string>
		</array>
		<array>
			<string>§08 资产减值.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Reference</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>127</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>4</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>fa9cefec9d2a36fcb60683f37decbf696b463f7a2e500b6036295d15efb7c3a0</key>
			<integer>30</integer>
		</dict>
	</dict>
</dict>
</plist>
